.blue-block {
    background-color: #9CCBF2;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    color: #fff;
    font-size: 16px;
    font-family: 'Mulish';
    font-weight: 600;

    p {
        padding: 2px 20px;
    }
}

.my-1 {
    margin: 10px 0;
}