.topbar-section {
    height: 60px;
    background-color: #83112F;
    color: #fff;    
}

.topbar-items {    
    padding: 5px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 20.08px;
    }
}

.topbar-items-right-section {
    display: flex;
    align-items: center;

    .user-name {
        color: #fff;
        padding-right: 30px;
    }

    .topbar-logo {
        width: 67px;
        height: 36px;
        background: url("../../assets/images/logo.png");
    }
}
