.checklist-card-section {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #606F88;
    height: 79px;
    margin: 50px 0;
    padding: 0 30px;
    p {
        font-size: 20px;
        font-family: 'Mulish';
        font-weight: 400;
    }
}