.tag-section {
    padding: 10px 50px;
}

.text-breadcrumb {
    font-size: 40px;
    font-family: 'Mulish';
    font-weight: 700;
}

.tag-section-items {
    display: flex;
    justify-content: space-between;
}